#Misc
NOTAS.md

# PDF output
*.pdf

# Latexmk
*.tex.swp
*.fdb_latexmk
*.aux
*.glo
*.bcf
*.code
*.idx
*.fls
*.log
*.toc
*.pytxcode
*.ist
*.acn
*.acr
*.alg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.wrt
*.lot
*.maf
*.thm
*.mtc
*.wrt
*.run.xml
*.mtc1
*.out
*.synctex.gz
*.synctex

# BibTeX
*.bbl
*.blg
